<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes information</title>

    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    <link rel="stylesheet" href="{% static 'siteapp/style.css' %}">
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul style="display: flex; justify-content: center; align-items: center;">

            <li style="margin-right: 10px;">
                <button class="button-primary" onclick="window.location='{% url 'users:signup' %}'">Signup</button>
            </li>
            <li style="margin-right: 10px;">
                <button class="button-primary" onclick="window.location='{% url 'users:login' %}'">Login</button>
            </li>
            <li>
                <button class="button-secondary" onclick="window.location='{% url 'users:logout' %}'">Logout</button>
            </li>
        </ul>
    </nav>
    <hr>
    <div style="margin-top: 10px; padding-left: 30px">
        <button class="button-secondary" onclick="window.location='{% url 'siteapp:add_author' %}'">Add author</button>
        <button class="button-secondary" onclick="window.location='{% url 'siteapp:add_quote' %}'">Add quote</button>
        <a href="http://localhost:8000/load">Load Data</a>

    </div>
    {% block content %} {% endblock %}
</main>
</body>
</html>
